/* TODO Add site wide styles */
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

#gameboard{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;

}
#gameboard-div{
  max-height: 500px;
}
.face-pic{
  width: 200px;
  height: 200px;
  padding: 2px;
}
.gameboard-title{
  display: flex;
  justify-content: center;
  padding: 5px;
}
